@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #4f46e5;
  --primary-color: #4f46e5;
  --text-color: #525252;
  --white-color: #ededed;
  --black-color: #0a0a0a;
  --main-padding: 120px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--white);
}

.dynamic-size {
  font-size: calc(1.425rem + 2.1vw);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
